<ul class="list-group">
  <% if @posts.empty? %>
    <li class="list-group-item text-center">
      <h3>No posts yet :*(</h3>
    </li>
  <% else %>
    <% @posts.each do |post| %>
      <li class="list-group-item">
        <%= link_to post.name, post.url, target: :blank %>
        <span class="badge"><%= post.upvotes %></span>
      </li>
    <% end %>
  <% end %>
</ul>
